body {
    text-align: center;
    margin-top: 50px;
}



.box {
    background-color: rgb(164, 212, 255);
    min-height: 50px;
    border: 1px solid black;
    font-size: 2rem;

}

.center-container {
    width: 50%;
}

.main-p {
    max-width: 400px;
    margin: 40px auto
}

.cards-products {
    max-width: 800px;
}

.container-mission {
    text-align: center;
    padding: 40px 10px;
    background-color: rgb(46, 46, 46);
    color: rgb(231, 231, 231);
    margin-top: 20px;
    width: 100%;
}

.container-mission h2 {
    margin: 50px auto;
    max-width: 400px;

}

.container-mission p {
    font-size: 0.9rem;
    margin: 0% auto;
    color: rgb(193, 193, 193);
    max-width: 400px;
}